---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
import { languages } from "../../shared/i18n/ui";
import { getLangFromUri, useTranslation } from "../../shared/i18n/utils";
export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({
    params: {
      lang: lang,
    },
  }));
}

const lang = getLangFromUri(Astro.url);
const t = useTranslation(lang);

const allPublishedBlogPosts = await getCollection(
  "blog",
  ({ data, id }) => id.startsWith(lang) && !data.draft
);

const pageTitle = t("nav.about");
---

<Base title={pageTitle}>
  <h2>{t("nav.home")}</h2>
  {
    allPublishedBlogPosts.length ? (
      <section>
        <h3>{t("section.latestPosts")}</h3>
        {allPublishedBlogPosts.slice(0, 5).map(async (post) => {
          const Content = (await post.render()).Content;

          return (
            <article>
              <Content />
            </article>
          );
        })}
      </section>
    ) : null
  }
</Base>
