---
import { getLangFromUri, useTranslation } from "../shared/i18n/utils";
interface Props {
  title?: string;
}

const { title } = Astro.props;

const lang = getLangFromUri(Astro.url);
const t = useTranslation(lang);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{t("siteTitle")}{title ? ` - ${title}` : null}</title>
  </head>
  <body>
    <div class="container">
      <slot />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }

  .container {
    margin: 0 auto;
    max-width: 768px;
  }
</style>
