---
import Footer from "../components/astro/Footer/Footer.astro";
import Header from "../components/astro/Header/Header.astro";
import { getLangFromUri, useTranslation } from "../shared/i18n/utils";
interface Props {
  title?: string;
}

const { title } = Astro.props;

const lang = getLangFromUri(Astro.url);
const t = useTranslation(lang);
---

<html lang={lang}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{t("siteTitle")}{title ? ` - ${title}` : null}</title>
  </head>
  <body>
    <div class="container">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    height: 100vh;
    height; 100dvh;
    margin: 0;
    width: 100%;
  }

  .container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    margin: 0 auto;
    max-width: 768px;
    min-height: 100%;
  }
</style>
